---
import GuestLayout from "../layouts/GuestLayout.astro";
import ForgotPasswordForm from "../components/auth/ForgotPasswordForm";
---

<GuestLayout title="Resetuj hasło - 10x Cards Flipper">
  <div class="w-full max-w-md mx-auto">
    <ForgotPasswordForm client:load />
  </div>
</GuestLayout>
