---
import GuestLayout from '../layouts/GuestLayout.astro';
import ResetPasswordForm from '../components/auth/ResetPasswordForm';
---

<GuestLayout title="Ustaw nowe hasło - 10x Cards Flipper">
  <div class="w-full max-w-md mx-auto">
    <ResetPasswordForm client:load />
  </div>
</GuestLayout>